<!DOCTYPE html>

<html>

<head>

    <title>Student Management</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <h1>Student Management System</h1>


    <!-- ADD STUDENT -->

    <div class="container">

        <h2>Add Student</h2>

        <input
            type="text"
            id="addName"
            placeholder="Enter name"
        >

        <input
            type="number"
            id="addAge"
            placeholder="Enter age"
        >

        <input
            type="text"
            id="addCourse"
            placeholder="Enter course"
        >

        <button onclick="addStudent()">
            Add Student
        </button>

    </div>


    <!-- UPDATE STUDENT -->

    <div class="container">

        <h2>Update Student</h2>

        <input
            type="number"
            id="updateId"
            placeholder="Enter student ID"
        >

        <input
            type="text"
            id="updateName"
            placeholder="Enter new name"
        >

        <input
            type="number"
            id="updateAge"
            placeholder="Enter new age"
        >

        <input
            type="text"
            id="updateCourse"
            placeholder="Enter new course"
        >

        <button onclick="updateStudent()">
            Update Student
        </button>

    </div>


    <!-- DELETE STUDENT -->

    <div class="container">

        <h2>Delete Student</h2>

        <input
            type="number"
            id="deleteId"
            placeholder="Enter student ID"
        >

        <button onclick="deleteStudent()">
            Delete Student
        </button>

    </div>


    <!-- STUDENT DATA -->

    <div class="container">

        <h2>All Students</h2>

        <button onclick="getStudents()">
            Refresh Students
        </button>

        <table>

            <thead>

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Course</th>

                </tr>

            </thead>

            <tbody id="studentTable">

            </tbody>

        </table>

    </div>
    <script src="/static/script.js"></script>
</body>

</html>
